@import '../../node_modules/normalize.css/normalize.css';
@import 'variables.scss';

/* basics */
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  color: $primary-color;
  background: $primary-bgcolor;
}

/* structure and layout */

#hiddenCanvas {
  display: none;
}

.giphyvision{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: $max-app-width;
  background: green;
  > header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: $header-height;
    /* padding: $secondary-vertical-spacing $secondary-horizontal-spacing;*/
    background: yellow;
  }
  .onboarding {
    display: none;
    position: absolute;
    top: 20%;
    bottom: 40%;
    right: 20%;
    left: 20%;
    background: #999;
  }
  .video {
    position: relative;
    height: calc(100% - 7vh);/* Todo: why not $var working in calc? even #{$var} interpolated */
    width: 100%;
    background-image: url('../img/cat.jpg');
    background-position: 50% 50%;
    background-size: cover;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    .preview, .video-element {
      position: absolute;
      z-index: 3;
      object-fit: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .video-element {
      z-index: 2;
    }
  }
}


.about {
  display: none;
  position: absolute;
  background: teal;
  right: 100%;
}

/* text */
h1 {
  display: none;
  color: $secondary-color;
  background-color: $secondary-bgcolor;
  margin: 0;
  font-style: normal;
  border-bottom: 3px solid $secondary-color;
}
