/* @import 'variables.scss';*/

#camToggle {
  background: url(../img/cam-toggle.svg) no-repeat;
  opacity: 0.6;
  width: 11vw;
  height: 11vw;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -230%;
}
