@import 'variables.scss';

#camToggle {
  background-image: url(../img/cam-toggle.svg);
  opacity: 0.6;
  width: 8vmax;
  height: 8vmax;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  left: $primary-horizontal-spacing;
  top: -190%;
}
