/* general */
$font-stack: Helvetica, sans-serif;
/* $font-stack: 'FSMeReg', Helvetica, sans-serif;
$font-stack-bold: 'FSMeBold', Helvetica, sans-serif;
$font-stack-light: 'FSMeLight', Helvetica, sans-serif; */
$base-font-size: 16px;

$namespace: giphyvision;

/* breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-phone: 414px;/* eg, iphone6+ portrait http://mydevice.io/devices/ */

/* colors */
$primary-color: #dedbdd;
$primary-bgcolor: #e0d9d7;
$secondary-color: #0d1080;
$secondary-bgcolor: #b3d3cc;
$controls-color: #000;
$controls-disabled-color: #999;
$controls-background-color: #ccc;
$controls-background-hover-color: #ddd;
$default-link-color: #8da4d1;
$default-link-hover-color: #5f67f4;
$error-color: #f00;

/* other UI */
$default-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

/* dimensions */
$primary-spacing: 1rem;
$primary-horizontal-spacing: $primary-spacing;
$primary-vertical-spacing: 0.55rem;

$secondary-spacing: 0.65rem;
$secondary-horizontal-spacing: $secondary-spacing;
$secondary-vertical-spacing: 0.25rem;

